{% extends 'mainapp/base.html' %}

{% block title %}
    <title>Продукты</title>
{% endblock %}

{% block content %}
    <h1>Продукты</h1><br>
    <div>Количество продуктов в корзине: {{ basket|length }}</div>
    <h3>Категории</h3>
    {% include 'mainapp/includes/inc_category_menu.html' %}
    <br><br>
    <div style="display: flex; flex-wrap: wrap;" class="category-products clearfix">
        {% for product in products %}
            <div style="margin: 20px" class="block">
                  <div class="card" style="width: 18rem;">
                      <img src="/media/{{ product.image }}" class="card-img-top" alt="product">
                      <div class="card-body">
                          <h5 class="card-title">{{ product.name }}</h5>
                          <p class="card-text">{{ product.short_desc }}</p>
                          <a href="{% url 'basket:add' product.pk %}">Добавить в корзину</a>
                          <br>
                          <a href="{% url 'basket:remove' product.pk %}">Удалить из корзины</a>
                      </div>
                  </div>
              </div>
        {% endfor %}
    </div>
{% endblock %}