{% extends 'mainapp/base.html' %}
{% block content %}
<div class="content">
    <hr>
    You can send us a massage from the site.
    <div class="container">
        <form class="form_contacts" action="#">
            <input type="text" placeholder="Name">
            <br>
            <br>
            <input class="mail" type="email" placeholder="email">
            <br>
            <br>
            <textarea type="comment" placeholder="Message"></textarea>
            <br>
            <br>
            <input type="submit" value="Send message"></form>
    </div>
    <p>Address: Ulitsa Komsomol'skaya, 112, Ufa, Respublika Bashkortostan, 450059</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18424.131687804245!2d56.002708754614254!3d54.7445132037235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf90520b550ee9e69!2zItCY0Y7QvdGMIiDQotCg0KY!5e0!3m2!1sen!2sru!4v1568552792025!5m2!1sen!2sru"
            width="100%" height="374" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>
<div class="footer">
    <span>&copy; All rights reserved</span>
</div>

{% endblock %}